<section class="hero has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="about:profile" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                  <h1>(사)청주민예총</h1>
                  <p>예술가의 예술 창작활동을 지원하고</p>
                  <p>지역 예술인의 권익을 옹호하며</p>
                  <p>지역 전통문화 발굴 계승 등을 통하여</p>
                  <p>지역문화 예술의 발전에 헌신함을 목적으로</p>
                  <p>1994년 창립된 예술단체이다.</p>
                  <p>청주민예총은 문학, 미술, 서예, 사진, 음악</p>
                  <p>풍물, 연극, 춤, 영화, 전통미술, 전통음악 등</p>
                  <p>각 분야의 전문예술인들이 활동하고 있는 전문예술단체이다.</p>

                </div>
            </div>
        </div>
</section>
