<section class="hero is-fullheight" id="participant">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="section">
              <h1 class="participant">참여 예술인</h1>
              <h3 class="participant">청주민미협, 서예위원회, 사진위원회, 시인, 민화 작가, 공연 예술인</h3>
              <h2 class="participant">청주민미협</h2>
              <hr class="participant">
              <p class="participant">권길순 권여진 구명회 김성심 남미희 라 앵 박경수 배기헌 서영란 손순옥 이소리 이유중 이슬희 여인영 전성숙 정필연 최윤경 한항선</p>
              <h2 class="participant">서예위원회</h2>
              <hr class="participant">
              <p class="participant">곽현기 김영소 김재규 김재천 신연양 신창수 오병운 오지영 이동원 이종집 최연옥</p>
              <h2 class="participant">사진위원회</h2>
              <hr class="participant">
              <p class="participant">김형석 문은경 박상돈 문호영 서필원 송민준 오정균 이현숙 최석원 한일환</p>
              <h2 class="participant">공연영상</h2>
              <hr class="participant">
              <p class="participant">이종남 이상금 조경애 라장흠 최범락 라호원 김재천 정 민 오세아 이석규 김한성 이현아 진유리 탁영주 박노상 김은비 정순오 김태원 조우연 윤지훈 이성희 김보경 도경림 이지안 배승진 김우경 이동원 김학성 신태희 전아름 서동률 한성녕 권보희 이연수 김보영 김유식 최연정 이종집 이윤경 황근숙 김강곤 김태철 박수훈 하성호 권희돈 진향래 구본행 조원영 조유임 김영소 권유정 류정환 김명신 김리원 김학민 조한결 배 철 김영미 선 요 백종원 박주현 최연옥 여승헌 장문석 김철준 정은정 김선경 앤 킴 김이슬 안희주 김민지 오안나 박원희 심준보 정지영 연수연 김혜진 김선희 이희복 곽은혜 조애정 신동국 정환진 전예슬 조현미 이진웅 조재영 김은숙 김지영 이은송 최경숙 나혜경 류기행 손숙영 김은지 김민경 오윤복 송수아 김덕근</p>
          </div>
      </div>
  </div>
</section>
