<section class="hero is-fullheight" id="project">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="section">
              <img class="project-title" src="assets/images/text_record.png">
              <p class="project-description"> ‘청주를 기록하다’는 예술을 통해 청주의 모습을 기록한 작품들을 시민과 공유하는 전시이다. 청주민예총은 전시와 공연 등을 통해 청주를 기록하고 예술작품으로 남기는 작업을 지속해왔다. &lt어반드로잉 청주&gt &lt청풍명월을 노래하다&gt, &lt사진작품전시회&gt, &lt청주, 예술가&gt 등의 사업을 통해 예술가의 시선으로 청주를 그리고, 노래하였다. 예술로 기록한다는 것은 삶 속에 녹아있는 우리의 희로애락과 장소가 지닌 역사성과 정신이 투영된 기록이자 창작이다. 전시 ‘청주를 기록하다’를 통해 그간의 창작물을 공유하고 청주에서 활동하는 예술인을 함께 조명하는 자리가 될 것이다.</p>
          </div>
          {% include project-card.html %}
          <div class="visitor-map">
            <img src="assets/images/map.png">
          </div>
      </div>
  </div>
</section>
