<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <img class="hero-biglogo" src="./assets/images/logo_big.png">
      <div class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{ content }}
      </div>
      <!--
      <div class="hero-button">
      <a href="{{site.url}}{{site.baseurl}}/artist" class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">&lt청주, 예술가&gt 영상 보기</a>
      </div>
      -->
    </div>
  </div>
  <div class="hero-footer">
    <img class="hero-logobar" src="./assets/images/logo_bar.png">
  </div>
</section>
