---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include project.html %}
  {% include participant.html %}
  {% include about.html %}
  <!--Footer begins here-->
</body>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 800) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
      item[5].classList.remove('is-active');
    }
    if (scroll > 800 && scroll < 1600) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
      item[5].classList.remove('is-active');
    }
    if (scroll > 1600 && scroll < 2400) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.add('is-active');
      item[5].classList.remove('is-active');
    }
    if (scroll > 2400) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
      item[5].classList.add('is-active');
    }
  });
</script>

</html>
