---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body">
      <div class="container">
        <a href="{{page.url | relative_url}}" class="has-text-black" id="title">
          <h1 class="title has-text-centered is-2 has-text-weight-semibold ">{{page.title}}</h1>
        </a>
        <hr class="has-background-black">
        <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
        <div class="container has-text-centered has-background-grey-darker" id="backtoprevious">
          <a href="{{ page.categories | first | truncate: 2, '' | prepend: 'artist/' | append: '#current' | relative_url }}" class="button has-text-weight-normal">돌아가기</a>
        </div>
  </section>
</body>

</html>
